<div class="container-fluxid foot">
  <div class="row" id="con">
    <div class="col-md-2 col-sm-2">
     	<img src="../../../assets/Logo.jpg" class="footIcon img-responsive " alt="Responsive image">

    </div>

    <div id="adress" class="col-md-3 col-sm-3">
      <p>All right reserved 2018
      </p>
    </div>

    <div id="contact" class="col-md-3 col-sm-3">
      <h3>Connect</h3>
      <p>Lwandilenick@gmail.com</p>
      <p>+27 732 337 503</p>
    </div>

    <div class="col-md-3 col-sm-3">
      <h3>Get in touch</h3>
      <a target="_blank"  href="https://www.facebook.com/Lwandile.Nick">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
 Facebook</a><br>
      <a target="_blank"  href="https://www.linkedin.com/in/nicholas-smith-48540b141/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
  LinkedIn</a><br>
      <a target="_blank"  href="">
      <i class="fa fa-globe" aria-hidden="true"></i>
 Web</a><br>
      <a target="_blank"  href="https://www.instagram.com/tar_niick/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
 Instagram</a><br>
 <a target="_blank"  href="mailto:lwandilenick@gmail.com">
 <i class="fa fa-envelope" aria-hidden="true"></i>
Gmail</a><br>
<a target="_blank"  href="https://www.github.com/lwadzswagger/">
  <i class="fa fa-github" aria-hidden="true"></i>
GitHub</a><br>

<!-- <div class="footerbox">
    <input type="text" class="form-control" id="subscribe" placeholder="Someone@Somewhere.com">
    <button class="btn btn-success">Subscribe</button>
</div> -->

    </div>
  </div>
</div>
