<div class="container-fluxid foot">
  <div class="row" id="contact">
    <div class="col-md-2 col-sm-2">
     	<!-- <img src="../../../assets/Logo.jpg" class="footIcon img-responsive " alt="Responsive image"> -->
<h3>Nicholas Smith</h3>
    </div>

    <div id="adress" class="col-md-3 col-sm-3">
      <p>All right reserved 2019
      </p>
    </div>

    <div id="contact" class="col-md-3 col-sm-3">
      <h3>Connect</h3>
      <p>NicholasSmith.Zar@gmail.com</p>
      <p>+27 732 337 503</p>
    </div>

    <div class="col-md-3 col-sm-3">
      <h3>Get in touch</h3>
      <a target="_blank"  href="https://www.facebook.com/Lwandile.Nick">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
 Facebook</a><br>
      <a target="_blank"  href="https://www.linkedin.com/in/nicholas-smith-48540b141/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
  LinkedIn</a><br>
      <a target="_blank"  href="">
      <i class="fa fa-globe" aria-hidden="true"></i>
 Web</a><br>
      <a target="_blank"  href="https://www.instagram.com/tar_neek/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
 Instagram</a><br>
 <a target="_blank"  href="https://twitter.com/tar_neek">
   <i class="fa fa-twitter" aria-hidden="true"></i>
 Twitter</a><br>
 <a target="_blank"  href="mailto:nicholassmith.zar@gmail.com">
 <i class="fa fa-envelope" aria-hidden="true"></i>
Gmail</a><br>
<a target="_blank"  href="https://www.github.com/lwadzswagger/">
  <i class="fa fa-github" aria-hidden="true"></i>
GitHub</a><br>
 
    </div>
  </div>
</div>
