<section id="home">
    <div class="splash">
        <div class="overlay">
            <div class="text">
                <h1>Tar Nick</h1>
                <p>Looking for a talented young Web Developer for your project, Look no further...</p>
                <div class="row">
                    <div class="col-md-2">
                        <span class="btn btn-dark">View Portfolio</span>
                    </div>
                    <div class="col-md-2">
                        <span class="btn btn-dark">Hire</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="Bio">
    <h1>PORTFOLIO</h1>
    <div class="row">
        <div class="col-md-4">
         <img src="./../../../assets/img/Nicholas Smi__1.jpg" class="rounded-circle" alt="Nicholas Smith" width="245" height="236"> 

        </div>
        <div class="col-md-4">
            <p>Hey! I'm Nicholas Smith, a technology enthusiast and a MEAN stack Developer. 
                    All my life I've always wanted to be something within the technological community, but I never knew that I will someday have the opportunity to fall in love with programming and help other people by bringing technical solution to everyday life problems. 
                    
                    See, not all those who get to make a difference in our communities do it because its their love and passion, but they do what they do to survive the economical cycle of our normal day lives. 
                    This might sounds naive and impulsive, but I believe I have the luxury to do what I love and passionated about. Don't get me wrong I'm no Philosophical developer that has everything figured out.</p>
        </div>
        <div class="col-md-4">
            <p>It took me a while alot of commitment and tenacity to finally be comfortable and confident about my Dev Skill
                    now through hardwork I'm able to turn ideas into products with the clients vision,
                    ever since I've started developing applications 2 years ago I've learnt so much since then and the growth has'nt stopped as I want to go even beyond</p>
        </div>
    </div>
</section>
<section id="Work">
        <h1>PREVIOUS WORK</h1>
        <p>Over time the items in my toolbox has increased with the likes of these languages and frameworks. 
                Java, Javascript, Typescript, Html, Css. 
                also Bootstrap, MongoDB, Angular, Firebase and it keeps growing... </p>

    <div class="workDone">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../../assets/img/young.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Younglings</h5>
                        <p class="card-text">A group of exceptional coders and software engineers in the making. 
                                This site serves as a gateway to everyones web portfolio.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../../assets/img/screen.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Minderz</h5>
                        <p class="card-text">This is a site that act as a platform for pet lovers and pet sitters to advertise their skills so that they can be hired for their services.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../../assets/img/screen.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">KasiLam</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../../assets/img/BenCÓ.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">BenCÓ
                            </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./../../../assets/img/bot.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Chat Bot</h5>
                        <p class="card-text">I have created a basic chatbot that act as my personal assistant, it does simple commands such as notifying me when someone says specific commands.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="contact">
    <app-footer></app-footer>
</section>