.splash{
    background-image: url('../../../assets/img/nick1.jpg');
    height: 100vh;
    /* max-width: 1200px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    }

.splash .overlay {
    position: absolute; /* Position the background text */
    /* bottom: 0; At the bottom. Use top:0 to append it to the top */
    /* background:; Fallback color */
    background: linear-gradient( to right, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0),rgba(0, 0, 0, 0)); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    height: 100%;
    padding: 20px; /* Some padding */
}
.text{
    text-align: center;
  }
  .card{
      margin-top: 15px;
      margin-bottom: 15px;
      height: 380px;
      box-shadow:7px 4px 5px 6px #ccc;
  }

  .card-img-top{
    height: 131px;
    /* object-fit: contain */
  }
  #Bio{
      height: 70vh;
      background-color: grey;
    }