<section id="home">
    <div class="splash">
        <div class="overlay">
            <!-- <div class="conti"> -->
                <div class="text">
                    <h1>Tar Nick</h1>
                    <p>Looking for a talented young Web Developer for your project, Look no further...</p>
                    <div class="row action">
                        <div class="col-md-4 col-sm-6">
                            <span class="press btn btn-block btn-lg btn-dark">View Portfolio</span>
                        </div>
                        <div class="col-md-4 col-sm-6  ">
                            <span class="press btn btn-dark btn-lg btn-block">Hire</span>
    
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>


<!-- <div class="container-fltyuid"> -->

    <section id="Bio">
        <h1>PORTFOLIO</h1>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img src="./../../../assets/img/Nicholas Smi__1.jpg"
                 class="rounded-circle" alt="Nicholas Smith"style="object-fit:cover; object-position:top" width="245px"
                    height="236px">

            </div>
            <div class="col-md-4 col-sm-4">
                <h5> Howdy Mate! I'm a Capetown based Fullstack Web Applications Developer.</h5> <p>Mostly I use Angular but not limited to it.
                        If you are a business seeking a web presence or an employer looking to hire, you can get in touch with me.
                </p>
            </div>
            <div class="col-md-4">
                <p>I primarily use Javascript, but picking up a new framework or language isn't a problem.
                     I have extensive programming experience and I'm confident on the frontend or backend as well as setting up development environment. 
                   I'm able to turn ideas into products with the clients vision.</p>
            </div>
        </div>
    </section>
    <section id="Work">
        <h1>PREVIOUS WORK</h1>
        <p>Over time the items in my toolbox has increased with the likes of these languages and frameworks.
            Java, Javascript, Typescript, Html, Css.
            also Bootstrap, MongoDB, Angular,React-Native, Firebase and it keeps growing... </p>

        <div class="workDone">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../../../assets/img/young.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Younglings</h5>
                            <p class="card-text">A group of exceptional coders and software engineers in the making.
                                This site serves as a gateway to everyones web portfolio.</p>
                            <a target="_blank" href="https://younglings-101.firebaseapp.com/" class="btn btn-primary">Have a look</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../../../assets/img/screen.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Minderz</h5>
                            <p class="card-text">This is a site that act as a platform for pet lovers and pet sitters
                                to advertise their skills so that they can be hired for their services.</p>
                            <a target="_blank" href="https://minderz-4ecba.firebaseapp.com/home" class="btn btn-primary">Have a look</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../../../assets/img/tempsnip.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-muted">KasiLam</h5>
                            <p class="card-text">An e-Commerce app for local spaza shops in the townships, a gate way to reach more customers.</p>
                            <a target="_blank" href="#" class="btn btn-primary disabled">In-Progress</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../../../assets/img/BenCÓ.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-muted">BenCÓ
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>
                            <a target="_blank" href="https://tipsimuch.firebaseapp.com/stores" class="btn btn-primary">Have a look</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../../../assets/img/pixaby.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-muted">Chat Bot</h5>
                            <p class="card-text">I have created a basic chatbot that act as my personal assistant, it
                                does simple commands such as notifying me when someone says specific commands.</p>
                            <a target="_blank" href="#" class="btn btn-primary">Have a look</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- </div> -->
<app-chat-bot></app-chat-bot>
<section id="contact">
    <app-footer></app-footer>
</section>