<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Nicholas Smith</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Bio</a>
      <a class="nav-item nav-link" href="">Previous Work</a>
      <a class="nav-item nav-link" href="">Contact</a>
    </div>


  </div>
</nav> -->


<div class="sidenav">
  <a href="#Nick" class="tittle">
    <img class="thumbnail" src="./../../../assets/img/nick.jpg" alt="Nicholas Smith"> Nicholas Smith</a>
  <a href="#home" class="home"><i class="mr fa fa-2x fa-home pad-right"></i> Home</a>
  <a href="#services" class="about"> <i class="mr fa fa-1x pad-right fa-user-secret"></i> About Me</a>
  <a href="#skills" class="skill"> <i class="mr fa fa-1x pad-right fa-rocket"></i> Skills</a>
  <a href="#servoce" class="service"> <i class="mr fa fa-bullhorn fa-1x  pad-right"></i> Services</a>
  <a href="#portfolio" class="potfolio"> <i class="mr fa fa-picture-o fa-1x  pad-right"></i> Portfolio</a>
  <a href="#reviews" class="review"> <i class="mr fa fa-star fa-1x  pad-right"></i> Reviews</a>
  <a href="#contact" class="contact"> <i class="mr fa fa-volume-control-phone fa-1x  pad-right"></i> Contact</a>
</div>

<!-- <div id="Action_bar">
  <ul class="social">
    <li class="facebook"><a target="_blank" href="https://www.facebook.com/mateen.de/" title="Facebook"><i
          class="icon-facebook"></i></a></li>
    <li class="twitter"><a target="_blank" href="https://twitter.com/mateen_de" title="Twitter"><i
          class="icon-twitter"></i></a></li>
    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mateenabdul/" title="LinkedIn"><i
          class="icon-linkedin"></i></a></li>
    <li class="dribbble"><a target="_blank" href="https://dribbble.com/abdulmateen" title="Dribbble"><i
          class="icon-dribbble"></i></a></li>
    <li class="instagram"><a target="_blank" href="https://www.instagram.com/mateen.de/" title="Instagram"><i
          class="icon-instagram"></i></a></li>
    <li class="behance"><a target="_blank" href="https://www.behance.net/abdulmateen" title="Behance"><i
          class="icon-behance"></i></a></li>
  </ul>
</div> -->